@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  
}

/* REMOVE NUMBER UP/DOWN BUTTONS */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.layout {
  height: 100vh; /* Equivalent to h-screen */
  overflow-y: scroll; /* Equivalent to overflow-y-scroll */
  /* background-image:url("/background-6.png");
  filter: 'grayscale(100%)';
  background-repeat: repeat-x;
  background-size: cover;  */
}
