
.btn:hover {
  box-shadow: 0px 0px 12px 1px #3396FF !important;
}


.btn {
  color: rgb(78, 53, 53) !important;
  background-color: #3396FF !important;
  border-radius: 4px !important;
  border-color: #3396FF !important;
  width: 100%;
}


.list-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  flex: 1;
}

.list-topic {
  font-weight: unset !important;


}

.list-value {
  text-align: right;
  flex: 1;
}
.table {
  --bs-table-hover-color: unset !important;
  --bs-table-striped-color: unset !important;
  --bs-table-hover-bg: rgba(68, 68, 68, 0.418) !important;
  font-size: 12px !important;
  color: white !important;
  table-layout: fixed;
  vertical-align: unset !important;

}
.table > :not(caption) > * > * {
  padding: 0.2rem 0.4rem !important;
}


.table th {
  text-transform: uppercase !important;

}
.formBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  width: 500px;
  height: 680px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.305) !important;
}
.formInner{
  padding: 24px;
}
td,
th {
  border-right-style: hidden !important;
  border-left-style: hidden !important;

}

.collection-td {
  width: 30% !important;

}


.table-container {
  border-top: solid 1px rgb(266, 266, 266) !important;
  height: 300px;
  /* Adjust the height as per your requirements */
  overflow-y: scroll;
  position: relative;



}


.table-container thead {
  position: sticky;
  top: -3px;
  border-top: solid 2px rgba(0, 0, 0, 0);

  background-color: #000000;
  z-index: 1;
  /* Adjust the background color as needed */
}

.table-container {
  height: 70vh;
  /* Adjust the height as per your requirements */
  overflow: auto;
}

.table-container-s{
  height: 40vh !important;
  overflow: auto;
  margin-bottom: 40px;
}

.container {
  width: 95vw;
}
.table-container-s {
  border-top: solid 1px rgb(266, 266, 266) !important;
  height: 300px;
  overflow: auto;
  overflow-y: scroll;
  position: relative;
}


.table-container-s thead {
  position: sticky;
  top: 0;
  border-top: solid 2px rgba(0, 0, 0, 0);
  z-index: 1;
  background-color: #000000;
  /* Adjust the background color as needed */
}
.table-container-s::-webkit-scrollbar {
  width: 4px;
  /* Adjust the width as per your preferences */
}

.table-container-s::-webkit-scrollbar-track {
  background-color: #000000;
  /* Adjust the background color as needed */
}

.table-container-s::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* Adjust the thumb color as needed */
}

.table-container-s::-webkit-scrollbar-thumb:hover {
  background-color: #b9b9b9;
  /* Adjust the hover color as needed */
}
/* Customize the scrollbar */
.table-container::-webkit-scrollbar {
  width: 4px;
  /* Adjust the width as per your preferences */
}

.table-container::-webkit-scrollbar-track {
  background-color: #000000;
  /* Adjust the background color as needed */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* Adjust the thumb color as needed */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #b9b9b9;
  /* Adjust the hover color as needed */
}



.nftBox::-webkit-scrollbar-thumb:hover {
  background-color: #b9b9b9;
  /* Adjust the hover color as needed */
}
/* Customize the scrollbar */
.nftBox::-webkit-scrollbar {
  width: 4px;
  /* Adjust the width as per your preferences */
}

.nftBox::-webkit-scrollbar-track {
  background-color: #000000;
  /* Adjust the background color as needed */
}

.nftBox::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* Adjust the thumb color as needed */
}

.nftBox::-webkit-scrollbar-thumb:hover {
  background-color: #b9b9b9;
  /* Adjust the hover color as needed */
}

.bg {
  background-color: #111316 !important;
  height: 100vh;
  border-radius: 1px !important;
  border-color: #3396FF !important;
  box-shadow: inset;
  overflow: auto;
}

.navbar-distancer{
  background-color: #111316 !important;
  height: 90px;
}

.nav {
  background-color: #111316 !important;
  border-color: #3396FF;
  border-width: 3px;
  position: fixed;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  font-size: 20px !important;

  
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to bottom, rgba(149, 243, 266, 0.123), transparent);
  pointer-events: none;
  z-index: -1;
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, rgba(149, 243, 266, 0), rgba(149, 243, 266, 1));
  animation: gradientSlide 0.6s linear forwards;
  transform-origin: right;
}

.nav-links {
  color: rgb(266, 266, 266) !important;
  text-decoration: none !important;
  margin-left: 30px;
  position: relative;

}

@keyframes flicker {
  0% {
    text-shadow: 0px;
  }

  50% {
    text-shadow: 0 0 2px rgba(149, 243, 266, 0.986), 0 0 2px #3396FF, 0 0 2px #3396FF, 0 0px 0px rgb(266, 266, 266), 0 0 8px rgb(38, 0, 266), 0 0 12px #3396FF, 0 0 2px rgb(149, 216, 266);

  }

  100% {

    text-shadow: 0 0 2px rgba(149, 243, 266, 0.986), 0 0 2px #3396FF, 0 0 2px #3396FF, 0 0px 0px rgb(266, 266, 266), 0 0 8px rgb(38, 0, 266), 0 0 12px rgba(149, 243, 266, 0.103), 0 0 2px rgba(149, 216, 266, 0.123);
  }
}

.nav-links:hover {
  animation: flicker 0.8s forwards;
}

.nav-links:hover {
  color: #3396FF !important;
}

.nav-links:focus {
  outline: none;
}

.nav-links::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #3396FF;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-links:hover::after {
  transform: scaleX(1);
}

@keyframes gradientSlide {
  0% {
    width: 0%;
    background: linear-gradient(to right, rgba(149, 243, 266, 0), rgba(149, 243, 266, 1));
    transform: scaleX(0);
  }

  100% {

    width: 100%;
    transform: scaleX(14);
  }
}

@font-face {
  font-family: 'Press Start 2P';
  src: local('Press Start 2P'), url('./RussoOne-Regular.ttf') format('truetype');
  font-weight: normal !important;
  font-style: normal !important;
}

body {
  font-size: 15px;
  font-family: 'Press Start 2P', sans-serif !important;
  color: azure;
}




.btn-borrow {

  width: 4rem;

}

.btn-prev-step {

  width: 4rem;

}

.text-green {
  color: rgb(4, 238, 4)
}

.text-red {
  color: rgb(266, 45, 45)
}

.centered-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.nft-container {
  max-width: 100%;
  overflow-x: auto;
}


.btn-prev-step.btn{
  font-size: 14px !important;
}

.btn-prev-step {
  height: 28px !important;

  display: block;
  margin: 0 auto;
}
.btn-submit {
  height: 28px !important;
  width: 180px;
  display: block;
  margin: 20px auto;
  
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
 
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
  
}






.table-input{
  width: 58px;
}
.btn.btn-user-balance {
  font-size: 14px !important;
  width: 80px;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.checkbox-container {
  position: relative;
  padding: 0 !important;
}







a {
  color: inherit;
  text-decoration: inherit;
}



.bg-container-home {
  position: absolute;
  background-image: url('./assets/svg-background.svg');
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  background-size: cover;
  z-index: 1;
  opacity: 75%;
}

.bg-container-home-vertical{
  position: absolute;
  background-image: url('./assets/svg-background.svg');
  background-repeat: no-repeat;
  height: 100%;
  width: 63%;
  background-size: cover;
  transform: rotate(-90deg);
  overflow: hidden;
  z-index: 1;
  top: -10%;
  opacity: 15%;
}

.mhorizontal-auto {

  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  justify-content: center;
}



.mvertical-auto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}




.social-logo{
  margin-right: 28px;
}
@media (max-width: 768px) {
  .bg-container-home-vertical{
    display: none !important;
  }
 
  .swimpass-card{
    padding: 8px;
    margin-top:22px;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: unset !important ;
    height: 500px;
  }
  .claim-card {
    margin-top: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #111316 !important;
    border-radius: 4px;
    box-shadow: 0px 0px 12px 1px rgba(255, 255, 255, 0.385) !important;
    z-index: 3 !important;
    width: 100%;
  }
  .bg-container-home {
    position: absolute;
    background-image: url('./assets/svg-background.svg');
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
    background-size: cover;
    
  }
  
  .social-logo{
    margin-top: 5px;
    margin-right: 12px;
  }
.home-card {
  margin-bottom: 12px;
  background-color: #181c20eb;
}
  .bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #111316 !important;
    padding: 10px;
    padding-top: 10px;
    margin-top: 12px;
    font-weight: bold;
    z-index: 1;
    transition: transform 0.4s ease, height 0.4s ease; /* Transition the transform and height properties */
    height: 6.8%;
    overflow: hidden; /* Hide the content when not expanded */
    border-top: 1px solid white;
    font-size: inherit;
  }
  
  .bar.expanded {
    transform: translateY(calc( 24px)); /* Move the bar up to the bottom of the navbar */
    height: calc(100% - 50px);
  }
  .valid-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    padding-bottom: 2px !important;
  }


  .add-td{
    width: 14% !important;
  }
  .lend-input {
    width: 52px !important;
    font-size: 8px !important;
  }
  .nav-links {

    margin-left:0px;

  
  }
  

  .wagmi-btn-container {
    position: absolute;
    right: 2%;
    bottom: 4%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .wagmi-btn-container.open {
    opacity: 1;
  }
  
  .wagmi-btn-container.fade-in {
    animation: fadeInAnimation 0.4s forwards;
  }
  
  .wagmi-btn-container.fade-out {
    animation: fadeOutAnimation 0.2s forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOutAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  
  .nftBox {
    
    height: 60vh !important;
    background-color: #23212e;
    padding: 14px;
    margin: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 72vh;
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container {
    width: 100%;
    padding: 4px !important;
   
    
    
  }

  .card {
    width: 22.6%;
    height: 21vw;
    margin: 1vw;

    background-color: #f0f0f000;
    border-radius: 5px;

    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .collection-td {
    width: 44% !important;
    padding-left: 0% !important;
    max-width: 100px !important; 
    white-space: nowrap !important; 
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  .expires-td {
    width: 18%;
    padding-left: 0% !important;


  }

  .extend-td {

    padding-left: 0.3rem !important;

  }

  
  
  .hide-on-mobile {
    display: none !important;
  }

  .btn {
    font-size: 6px !important;
    
    padding: 0px !important;
  }

  .table {
    /* Styles for mobile */

    font-size: 9px !important;
    /* Add any additional mobile-specific styles here */
  }
  .btn-submit {
    height: 28px !important;
    width: 180px;
    display: block;
    margin: 20px auto;
    font-size: 14px !important;
  }


}
